<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Карточка пользователя</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td colspan="2" th:text="${managerDto.getFullName()}" style="text-align: left">Имя пользователя</td>
            <td><a th:href="@{/manager/settings}" text="Профиль">Профиль</a></td>
            <td><a th:href="@{/logout}" text="Выйти" style="text-align: right">Выйти</a></td>
        </tr>
        <tr>
            <td colspan="4">
                <hr>
            </td>
        </tr>
        <tr>
            <td><a th:href="@{/manager/index}">Должники</a></td>
            <td><a th:href="@{/manager/index}">Пользователи</a></td>
            <td><a th:href="@{/user/books}">Книги</a></td>
            <td><a th:href="@{/user/books}">Добавить книгу</a></td>
        </tr>
    </table>
</div>
<hr>
<p><strong>Профиль пользователя :</strong></p>
<table>
    <tr>
        <th>ФИО</th>
        <th>Email</th>
        <th>Статус</th>
        <th></th>
    </tr>
    <tr>
        <td th:text="${userDto.getFullName()}" style="text-align: left">ФИО</td>
        <td th:text="${userDto.getEmail()}" style="text-align: center">Название книги</td>
        <td th:text="${userDto.getIsBanned()} ? 'Заблокированный' : 'Активный' ">Просрочено дней</td>
        <td><form th:method="PATCH" th:action="@{/manager/change-status-{id}(id=${userDto.getId()})}">
          <input type="submit" value="Изменить статус"/>
        </form></td>
    </tr>
</table>
<hr>
<table th:if="${!bookList.isEmpty()}">
    <tr>
        <th>Название книги</th>
        <th>Имя автора</th>
        <th>Год выпуска</th>
        <th>Дата возврата книги</th>
    </tr>
    <tr th:each="book : ${bookList}"
        th:style="${book.getBookReturnIsExpired()} ? 'font-weight: bold; color: red; text-align: right;'">
        <td th:text="${book.getName()}" style="text-align: left">Название книги</td>
        <td th:text="${book.getAuthor()}" style="text-align: center">Имя автора</td>
        <td th:text="${book.getYear()}" style="text-align: center">Год выпуска</td>
        <td th:text="${#temporals.format(book.getBookDateExpiration(), 'dd MMM yyyy')}">Дата возврата</td>
    </tr>
</table>
</body>
</html>