<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Поиск книг по библиотеке</title>
</head>
<body>
<form th:action="@{/books/search(search=${param.q})}">
    <label for="search">Введите поисковый запрос : </label>
    <input type="text" id="search" th:name="search"/>
    <!--  <div style="color:red" th:if="${#fields.hasErrors('search')}" th:errors="*{}">search Error</div>-->
    <br/>
    <input type="submit" value="Искать"/>
</form>
<hr>
<div th:if="${book != null}">
    <div th:if="${book.isEmpty()}">
        <p>Книг не найдено</p>
    </div>
    <div th:each="book : ${book}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
        <br>
        <p th:if="${book.getReader()}"><strong>Книга сейчас у: </strong>
            <a th:text="${book.getReader().getFullName()} + ', ' + ${book.getReader().getYearOfBirth()}"
               th:href="@{/reader/{id}(id=${book.getReader().getId()})}">reader</a></p>
        <p th:if="${book.getReader() == null}">Книга свободна</p>
        <hr>
    </div>
</div>
<a th:href="@{/books}">Вернуться в меню книг</a>
<br>
<a th:href="@{/}">Вернуться в главное меню</a>
</body>
</html>
