<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Список доступных книг</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td th:text="${userDto.getFullName()}" style="text-align: left">Имя пользователя</td>
            <td><a th:href="@{/user/settings}" text="Профиль" style="text-align: center">Профиль</a></td>
            <td><a th:href="@{/logout}" text="Выйти" style="text-align: right">Выйти</a></td>
        </tr>
        <tr>
            <td colspan="2">
                <a th:href="@{/user/index}"
                   th:text="'Количество взятых книг: ' + ${userDto.getPersonBookList().size()}">
                    Количество взятых книг</a>
            </td>
            <td><a th:href="@{/user/books}" class="active">Список доступных книг</a></td>
        </tr>
    </table>
</div>
<div>
    <form th:action="@{/user/books(search=${param.q})}">
        <label for="search">Введите поисковый запрос : </label>
        <input type="text" id="search" th:name="search"/>
        <input type="submit" value="Искать"/>
    </form>
</div>
<div th:if="${booksSearch != null}">
    <div th:if="${booksSearch.isEmpty()}">
        <p>Книг не найдено</p>
    </div>
    <div th:if="${not booksSearch.isEmpty()}">
        <table>
            <tr>
                <th>Название книги</th>
                <th>Имя автора</th>
                <th>Год выпуска</th>
                <th></th>
            </tr>
            <tr th:each="bookDto : ${booksSearch}">
                <td th:text="${bookDto.getName()}" style="text-align: left">Название книги</td>
                <td th:text="${bookDto.getAuthor()}">Имя автора</td>
                <td th:text="${bookDto.getYear()}">Год выпуска</td>
                <td>
                    <form th:method="PATCH" th:action="@{/user/books/add-book-{id}(id=${bookDto.getId()})}">
                        <input type="submit" value="Взять книгу"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<hr>
<div th:if="${bookDtoList.isEmpty()}">
    <p>Нет доступных книг</p>
</div>
<div th:if="${!bookDtoList.isEmpty()}">
    <table>
        <tr>
            <td style="width:40%" th:switch="${sortBy}">
                <a th:case="'name'" th:href="@{/user/books(size=${bookDtoList.size}, by='nameDesc')}" class="active">По
                    названию
                    &darr;</a>
                <a th:case="'nameDesc'" th:href="@{/user/books(size=${bookDtoList.size}, by='name')}" class="active">По
                    названию
                    &uarr;</a>
                <a th:case="*" th:href="@{/user/books(size=${bookDtoList.size}, by='nameDesc')}">По названию &darr;</a>
            </td>
            <td style="width:20%" th:switch="${sortBy}">
                <a th:case="'author'" th:href="@{/user/books(size=${bookDtoList.size}, by='authorDesc')}"
                   class="active">По Автору
                    &darr;</a>
                <a th:case="'authorDesc'" th:href="@{/user/books(size=${bookDtoList.size}, by='author')}"
                   class="active">По Автору
                    &uarr;</a>
                <a th:case="*" th:href="@{/user/books(size=${bookDtoList.size}, by='authorDesc')}">По Автору &darr;</a>
            </td>
            <td style="width:20%" th:switch="${sortBy}">
                <a th:case="'year'" th:href="@{/user/books(size=${bookDtoList.size}, by='yearDesc')}" class="active">По
                    году выпуска
                    &darr;</a>
                <a th:case="'yearDesc'" th:href="@{/user/books(size=${bookDtoList.size}, by='year')}" class="active">По
                    году выпуска
                    &uarr;</a>
                <a th:case="*" th:href="@{/user/books(size=${bookDtoList.size}, by='yearDesc')}">По году выпуска
                    &darr;</a>
            </td>
            <td style="width:20%"></td>
        </tr>
        <tr>
            <th>Название книги</th>
            <th>Имя автора</th>
            <th>Год выпуска</th>
            <th></th>
        </tr>
        <tr th:each="bookDto : ${bookDtoList}">
            <td style="width:40%; text-align: left" th:text="${bookDto.getName()}">Название книги</td>
            <td style="width:20%" th:text="${bookDto.getAuthor()}">Имя автора</td>
            <td style="width:20%" th:text="${bookDto.getYear()}">Год выпуска</td>
            <td style="width:20%">
                <form th:method="PATCH" th:action="@{/user/books/add-book-{id}(id=${bookDto.getId()})}">
                    <input type="submit" value="Взять книгу"/>
                </form>
            </td>
        </tr>
    </table>
    <div th:if="${bookDtoList.totalPages > 0}" class="pagination">
        <a th:each="pageNumber : ${pageNumbers}"
           th:href="@{/user/books(size=${bookDtoList.size}, page=${pageNumber} ,by=__${sortBy}__)}"
           th:text="${pageNumber}"
           th:class="${pageNumber==bookDtoList.number + 1} ? active">pageNumber</a>
    </div>
</div>
</body>
</html>