<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Карточка пользователя</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">value</p>
<p><a th:href="@{/user/books}">Список доступных книг</a></p>
<hr>
<p th:if="${person.getPersonBookList().isEmpty()}"
   th:text="${'Человек пока не взял ни одной книги'}">text</p>
<div th:if="${not person.getPersonBookList().isEmpty()}">
    <p><strong>Книги :</strong></p>
    <table>
        <tr>
            <th>Название книги</th>
            <th>Имя автора</th>
            <th>Год выпуска</th>
            <th>Дата возврата книги</th>
            <th></th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.getName()} + ', ' +  ${book.getId()}"style="text-align: left">Название книги</td>
            <td th:text="${book.getAuthor()}" style="text-align: center">Имя автора</td>
            <td th:text="${book.getYear()}" style="text-align: center">Год выпуска</td>
<!--            <td th:style="${personBook.getPersonBookDate()}? 'font-weight: bold; color: red; text-align: right;' : 'text-align: right'"-->
<!--                th:text="${#dates.format(personBook.getPersonBookDateExpiration()(), 'dd MMM yyyy')}">Дата возврата-->
<!--            </td>-->
            <td>
                <form th:method="PATCH" th:action="@{/user/books/return-book-{id}(id=${book.getId()})}">
                    <input type="submit" value="Вернуть книгу"/>
                </form>
            </td>
        </tr>
    </table>
</div>
<br>
<hr>
</body>
</html>