<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
</head>
<body>
<H1>Цифровой учет</H1>
<br/>
<hr/>
<a href="/reader">Список пользователей библиотеки</a>
<br/>
<a href="/books">Список книг библиотеки</a>
<br/>
<a href="/books?page=0&books_per_page=3">Список книг библиотеки пагинация</a>
<br/>
<a href="/books?sort_by_year=true">Список книг библиотеки сортировка по годам</a>
<br/>
<a href="/books?page=0&books_per_page=3&sort_by_year=true">Список книг библиотеки пагинация и сортировка по годам</a>
<br/>
<a href="/books/search">Поиск книги</a>
<br/>
<hr/>
</body>
</html>