<!DOCTYPE html>
<html lang="en" >
<link rel="stylesheet" href="/css/style.css" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Имитация Библиотеки</title>
</head>
<body>
<H1>Имитация Библиотеки</H1>
<hr/>
<a href="/auth/login">Войти под Логином\паролем</a>
<br/>
<a href="/auth/registration">Регистрация нового пользователя (*ROLE_USER)</a>
<br/>
<hr/>
<div>
    <p>Не большое приложение на SpringBoot: </p>
    <ul>
        <li>SpringSecurity</li>
        <li>SpringData JPA + NaiveQuery</li>
        <li>Thymeleaf</li>
        <li>ModelMapper</li>
        <li>Lombok</li>
        <li>Hibernate.Validation</li>
        <li>Pagination and Sort</li>
        <li>Postgresql (<i>для профиля application-prod.yml</i>)</li>
        <li>H2database (<i>для профиля application-dev.yml + data-h2.sql с профилями пользователей и книгами, для демонстрации</i>)</li>
    </ul>
    <p style="font-style: italic; color: green">по умолчанию используется профиль application-dev.yml вместе с H2 + data-h2.sql для демонстрации проекта.
        При включении профиля application-prod.yml рекомендуется закомментировать зависимость H2 в pomxml во избежание конфликтов</p>
</div>
<div>
    <h2>Роль Админ</h2>
    <ul>
        <li>Краткая статистика по библиотеке (Пользователи \ Менеджеры \ Книги \ Невозвращенные книги \ Забаненные пользователи)</li>
        <li>Информация о пользователях (ФИО, Email, Кол-во книг на руках, Статус, Профиль)</li>
        <li>Профиль пользователя отражает список всех его книг, также позволяет забанить\разбанить</li>
        <li>Страница "Список менеджеров" - выводить список всех менеджеров, также позволяет забанить\разбанить</li>
        <li>Страница "Добавить менеджера" - добавляет нового менеджера</li>
        <li>Страница "Профиль" - позволяет изменить данные админа (использует Валидацию, при смене пароля используется проверка)</li>
        <li>Логин\Пароль для админа <span style="color: green; font-weight: bold">admin/admin</span> (* при использовании профиля <span style="color: green; font-weight: bold">application-dev.yml</span>)</li>
    </ul>
    <h2>Роль Менеджер</h2>
    <ul>
        <li>Статистика по должникам (ФИО \ Название Книги \ Дата возврата книги (количество дней зависит от профиля в dev 10, в prod 30)
            \ Кол-во дней на которое просрочена книга \ Профиль пользователя)</li>
        <li>Профиль пользователя отражает ФИО \ Email \ Статус, а также список всех его книг. Пользователя можно забанить\разбанить</li>
        <li>Пользователи - отражает список всех пользователей, количество книг на руках, а также их статусы. Возможно отрыть профиль пользователя</li>
        <li>Книги - список всех книг (Название, Имя автора, Год выпуска, Кол-во книг на остатке) - есть поиск по названию книги(contains), также реализованна пагинация и сортировка (asc/desc по столбцам Название, Имя автора, Год выпуска, Кол-во книг на остатке)</li>
        <li>Страница "Добавить книгу" - позволяет добавить книгу в библиотеку (использует Валидацию)</li>
        <li>Страница "Профиль" - позволяет изменить данные менеджера (использует Валидацию, при смене пароля используется проверка)</li>
        <li>Логин\Пароль для менеджеров <span style="color: green; font-weight: bold">manager/manager, manager2/manager2</span> (* при использовании профиля <span style="color: green; font-weight: bold">application-dev.yml</span>)</li>
    </ul>
    <h2>Роль пользователь</h2>
    <ul>
        <li>Страница "Количество взятых книг" - показывает количество книг на руках, а также информацию по ним
            (Название книги \ Имя автора \ Год выпуска \ Дата возврата книги).
            Позволяет вернуть книгу обратно. Красным выделены книги по которым срок возврата прошел</li>
        <li>Страница "Список доступных книг" - отображает список книг которые пользователь может взять, уже взятые книги в список не попадают.
            Реализован поиск по названию, пагинация и сортировка (asc/desc по столбцам Название, Имя автора, Год выпуска)</li>
        <li>Страница "Профиль" - позволяет изменить данные пользователя (использует Валидацию, при смене пароля используется проверка)</li>
        <li>Логин\Пароль для менеджеров <span style="color: green; font-weight: bold">user/user, user2/user2, user3/user3, banned/banned</span> (* при использовании профиля <span style="color: green; font-weight: bold">application-dev.yml</span>)</li>
    </ul>
    <p></p>
</div>
<br/>
<hr/>
<a href="/auth/login">Войти под Логином\паролем</a>
<br/>
<a href="/auth/registration">Регистрация нового пользователя (*ROLE_USER)</a>
<br/>
<hr/>
<div>
    <p style="font-style: italic;">По Багам, Замечания и Пожеланиям, да и про так писать на <a href="https://t.me/johnsmiti" style="color: green">@johnsmiti</a></p>
</div>
</body>
</html>