<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css" media="screen">
<link rel="stylesheet" href="/css/tcal.css" media="screen">
<script type="application/javascript" src="/scripts/tcal.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Изменить Пользователя</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/reader/{id}(id=${reader.getId()})}" th:object="${reader}">
    <label for="fullName">Enter name: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName Error</div>
    <br/>
    <label for="yearOfBirth">Enter age: </label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth" name="date" class="tcal" value="" />
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">yearOfBirth Error</div>
    <br/>
    <input type="submit" value="Изменить"/>
</form>
<hr>
<a th:href="@{/reader}">Вернуться в меню пользователей</a>
<br>
<a th:href="@{/}">Вернуться в главное меню</a>
</body>
</html>