<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей библиотеки</title>
</head>
<body>
<h1>Список всех пользователей библиотеки : </h1>
<hr>
<br>
<div th:each="reader : ${reader}">
    <a th:href="@{/reader/{id}(id=${reader.getId()})}"
       th:text="${reader.getFullName() + ', ' + reader.getYearOfBirth()}">userProfile</a>
</div>
<br/>
<hr/>
<form th:action="@{/reader/new}">
    <label>
        <input th:type="submit" value="Добавить человека"/>
    </label>
</form>
<hr/>
<a th:href="@{/}">Вернуться в главное меню</a>
</body>
</html>