<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css" media="screen">
<link rel="stylesheet" href="/css/tcal.css" media="screen">
<script type="application/javascript" src="static/scripts/tcal.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Добавить нового пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/reader}" th:object="${reader}">
    <label for="fullName">Введите ФИО : </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName Error</div>
    <br/>
    <label for="yearOfBirth">Введите год рождения : </label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth" name="date" class="tcal" value="" />
<!--    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>-->
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">yearOfBirth Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<hr>
<a th:href="@{/reader}">Вернуться в меню пользователей</a>
<br>
<a th:href="@{/}">Вернуться в главное меню</a>
</body>
</html>